@import "tailwindcss";

.custom-scroll {
  --sb-track-color: #191e21;
  --sb-thumb-color: #080808;
  --sb-size: 4px;
}

.custom-scroll::-webkit-scrollbar {
  width: var(--sb-size);
}

.custom-scroll::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .custom-scroll {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
